@media screen and (min-width: 1024px) {
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .random,
    .info {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #place-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #place-cards div {
        grid-template-columns: 1fr 1fr;
    }
}