:root {
    --primary-color: #1c3d2b;
    --secondary-color: #0f2a1d;
    --tertiary-color: #f2c94c;
    --accent-color: #e6f0ea;
    --primary-text: #1a1a1a;
    font-family: "Dancing Script", cursive;
    font-family: "National Park", sans-serif;
    font-weight: 400;
    font-family: normal;
}

header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    position: relative;
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem;
    border-bottom: 5px solid var(--tertiary-color);
}

.title {
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 5px;
    font-family: "Dancing Script";
}

#menu {
    display: block;
    text-decoration: none;
    text-align: right;
    margin-left: auto;
    margin-top: 10px;
    background-color: var(--primary-color);

}

.hamburger::before {
    content: "\2630";
    color: var(--tertiary-color);
    font-size: 3rem;
}

nav {
    max-width: 640px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent-color);
    z-index: 2;
}

.menu-list {
    display: none;
}

.menu-list.show {
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

.navigation li {
    display: none;
}

.navigation {
    margin: 0;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-family: "National Park";
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

nav a:link,
nav a:visited {
    color: var(--background-color);
}

.show li {
    display: block;
}

.hamburger.show::before {
    content: "\00D7";
}

.on-page {
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--tertiary-color);
}

header img {
    margin-top: 10px;
}

main {
    background-color: var(--accent-color);
    padding: 1rem;
    font-family: "National Park";
}

h1 {
    color: var(--primary-text)
}

.hero {
    width: 100%;
}

.next-event h2, .next-event p, .next-event figure {
    text-align: center;
}

.event {
    color: var(--primary-color);
    font-size: 1.5rem;
}

#weather-icon {
    width: auto;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    gap: 1rem;
    width: max-content;
    animation: scroll 40s linear infinite;
}

.carousel-track:hover {
    animation-play-state: paused;
}

.carousel-track div {
    min-width: 250px;
    background: var(--primary-color);
    border-radius: 8px;
    padding: 1rem;
    flex-shrink: 0;
    display: grid;
    grid-template-areas: 
        "photo name"
        "photo address"
        "photo par"
        "photo sponsor";
}

.course-img {
    grid-area: photo;
    padding: 1rem;
}

.course-name {
    grid-area: name;
}

.course-address {
    grid-area: address;
}

.course-par {
    grid-area: par;
}

.course-sponsor {
    grid-area: sponsor;
}

.course-card-name {
    color: var(--tertiary-color);
    font-size: 1.3rem;
}

.carousel-track div p {
    color: var(--accent-color);
    font-size: 0.8rem;
}

.carousel-track div img {
    width: 300px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.cubeimg {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cubeimg img {
    max-width: 75%;
    margin: 2rem;
}

.cubetext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cubemember p, .cubecharity p {
    padding: 0 1rem 0 1rem;
}

h2 {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--tertiary-color);
}

main p {
    color: var(--primary-text);
}

.home-button, .info-button, .sponsor-button, .form-button button, .all-events button {
    border: 3px solid var(--tertiary-color);
    color: var(--accent-color);
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
    width: 250px;
    margin: 0.5rem;
    text-align: center;
}

.home-button:hover, .info-button:hover, .sponsor-button:hover, .form-button button:hover, .all-events button:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

#every-event {
    border: 3px solid var(--secondary-color);
    background-color: var(--accent-color);
}

.every-event-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.every-event-content h2 {
    grid-column: 1/3;
}

.every-event-button button {
    border: 3px solid var(--tertiary-color);
    color: var(--accent-color);
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
    width: auto;
    font-size: 1.5rem;
    text-align: center;
}

.org-info p, .member-info p, .course-info p, .charity-info p {
    text-align: center;
}

.member-info-button, .sponsor-button-holder, .form-button, .all-events {
    display: flex;
    justify-content: center;
}

#sponsor-cards div {
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    margin: 1rem;
    background-color: var(--secondary-color);
}

#sponsor-cards div p {
    padding-left: 0.5rem;
    color: var(--accent-color);
}

.sponsor-name {
    font-size: 1.25rem;
    color: var(--tertiary-color);
    font-family: "Dancing Script";
}

form {
    padding: 1rem;
    margin: 3rem;
    border: 5px solid var(--tertiary-color);
}

form label {
    padding-bottom: 5px;
}

.first-name,
.last-name,
.organization-title,
.email-address,
.phone-number,
.business-name,
.member-level,
.description, .street, .city, .state, .zip, .tournament-select {
    padding: 1rem;
    display: grid;
    gap: 10px;
    color: var(--primary-text);
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    height: 30px;
    min-width: 100px;
}

.required {
    color: rgb(149, 0, 0);
}

.four-forms h2 {
    text-align: center;
}

.form-data-display h2, .form-data-display p {
    text-align: center;
}

.form-data-display h2 {
    padding-top: 2rem;
}

.submit-content {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

#member-info, #charity-info, #single-info, #sponsor-info {
    padding-top: 2rem;
}

.num-memberships, .num-charity, .num-single, .num-sponsor {
    padding-top: 5rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem;
    font-family: "National Park";
}

.footer-title {
    color: var(--tertiary-color);
    font-family: "Dancing Script";
    font-size: 2rem;
}

.facebook,
.github,
.youtube,
.linkedin {
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.social-icons {
    display: flex;
}

footer a:link, footer a:visited {
    color: var(--tertiary-color);
}